body {
    /* background: #bbff7f; */
    margin-top: 100px;
}

form {
    background: #fff;
    border: 1.6px solid rgb(90, 71, 19);
    width: 350px;
    padding: 32px;
    box-shadow: 0 8px 16px rgba(255, 0, 0, 0.1);
    border-radius: 8px;
    margin: auto;
}

input[type=email],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    /* border: 10px; */
    border-width: 5px;
    border-style: solid;
    border-color: rgb(216, 216, 216);
    /* border-bottom: 1.5px solid black; */
    border-radius: 10px;
    box-sizing: border-box;
    background: rgb(216, 216, 216);
    /* width: 100%;
    margin: 11.2px 0;
    font-size: 25.6px;*/
    border: 1.6px solid rgb(90, 71, 19);
    /* border-radius: 8px;
    padding: 16px 19.2px;
    color: rgba(102, 0, 8, 0.233);
    text-transform: none; */
}

button {
    background-color: #613b02a1;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 17px;
}

#signup {
    background-color: #613b02a1;
    color: white;
    padding: 14px 20px;
    margin: 8px 0px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    width: 30%;
    font-size: 17px;
    text-align: center;
    position: absolute;
    left: 35%;
}

button:hover {
    opacity: 0.9;
}

#heading1 {
    text-align: center;
    color: rgb(102, 0, 8, 0.233);
    font-size: 45px;
}


/* .loginContainer {
    border-radius: 20px;
    background: #ffffff;
    padding: 16px;
} */