<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN</title>
    <script src="./index.js" type="text/javascript"></script>
    <link rel="stylesheet" href="./index.css">
</head>

<body style="background-image: url('./images/banner-bg.jpg'); background-size:auto;">

    <form id="loginPage" method="POST" action="/">
        <h2 id="heading1"><b>User Login</b></h2>
        <div class="loginContainer">

            <input type="email" placeholder="User Email ID" id="userName" name="email" required> <br>
            <input type="password" placeholder="Password" id="pass" name="password" required>

            <button type="submit "><b>Login</b></button>


        </div>

    </form>
    <a href="/register "><button type="button " id = "signup"><b>Sign Up</b></button></a>

</body>

</html>
