<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Books Review Website</title>

    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- custom css file link  -->
    <link rel="stylesheet" href="./FIRST PAGE/style.css">

</head>

<body>

    <!-- header section starts  -->

    <header class="header">

        <div class="header-1">

            <a href="/home" class="logo"> <i class="fas fa-book"></i> All About Books </a>

            <div class="icons">
                <div id="search-btn" class="fas fa-search" style="display:none;"></div>
                <a href="#" class="fas fa-heart" style="display: none;"></a>
                <a href="#" class="fas fa-shopping-cart" style="display: none;"></a>
                <div id="login-btn" class="fas fa-user" style="display:none;"></div>
            </div>

        </div>

        <div class="header-2">
            <nav class="navbar">
                <a href="/home">home</a>
                <a href="#">featured</a>
                <a href="/home#arrivals">arrivals</a>
                <a href="#">reviews</a>
            </nav>
        </div>

    </header>

    <!-- header section ends -->

    <!-- bottom navbar  -->

    <nav class="bottom-navbar">
        <a href="/home" class="fas fa-home"></a>
        <a href="#" class="fas fa-list"></a>
        <a href="/home#arrivals" class="fas fa-tags"></a>
        <a href="#" class="fas fa-comments"></a>
    </nav>

    <!-- login form  -->

    <div class="login-form-container">

        <div id="close-login-btn" class="fas fa-times"></div>

    </div>

    <!-- home section starts  -->

    <!-- arrivals section starts  -->

    <section class="arrivals" id="arrivals">

        <h1 class="heading"> <span>Popular Books</span> </h1>
        <p><br></p>
        <div class="swiper books-slider">
            <!-- <div class="swiper-wrapper"> -->
            <a href="/eclipse_review" class="swiper-slide"><img src="image/book-1.jpg" alt=""></a>
            <a href="/twilight_review" class="swiper-slide"><img src="image/book-2.jpg" alt=""></a>
            <a href="/harrypotter_sorcerer_stone" class="swiper-slide"><img src="image/book-3.jpg" alt=""></a>
            <a href="/chamber_of_secret" class="swiper-slide"><img src="image/book-4.jpg" alt=""></a>
            <a href="/philosopher's_stone" class="swiper-slide"><img src="image/book-5.jpg" alt=""></a>
        </div>
        <div class="swiper books-slider">
            <a href="/order_of_phoneix" class="swiper-slide"><img src="image/book-6.jpg" alt=""></a>
            <a href="/dune" class="swiper-slide"><img src="image/book-7.jpg" alt=""></a>
            <a href="/diary_of_a_young_girl" class="swiper-slide"><img src="image/book-8.jpg" alt=""></a>
            <a href="/1984" class="swiper-slide"><img src="image/book-9.jpg" alt=""></a>
            <a href="/relativity" class="swiper-slide"><img src="image/book-10.jpg" alt=""></a>
        </div>

        </div>

    </section>

    <!-- arrivals section ends -->

    <!-- footer section starts  -->

    <section class="footer">

        <div class="box-container">

            <div class="box">
                <h3>quick links</h3>
                <a href="/home"> <i class="fas fa-arrow-right"></i> home </a>
                <a href="#"> <i class="fas fa-arrow-right"></i> featured </a>
                <a href="/home#arrivals"> <i class="fas fa-arrow-right"></i> arrivals </a>
                <a href="#"> <i class="fas fa-arrow-right"></i> reviews </a>
                <!-- <a href="#"> <i class="fas fa-arrow-right"></i> blogs </a> -->
            </div>

            <div class="box">
                <h3>extra links</h3>
                <a href="#"> <i class="fas fa-arrow-right"></i> account info </a>
                <a href="#"> <i class="fas fa-arrow-right"></i> ordered items </a>
                <a href="#"> <i class="fas fa-arrow-right"></i> privacy policy </a>
                <!-- <a href="#"> <i class="fas fa-arrow-right"></i> payment method </a> -->
                <a href="#"> <i class="fas fa-arrow-right"></i> our serivces </a>
            </div>

            <div class="box">
                <h3>contact info</h3>
                <a href="#"> <i class="fas fa-phone"></i> +91 9501 555 147 </a>
                <a href="#"> <i class="fas fa-phone"></i> +91 7973 990 693 </a>
                <a href="#"> <i class="fas fa-envelope"></i>hs3188248@gmail.com</a>
                <img src="image/worldmap.png" class="map" alt="">
            </div>

        </div>

        <div class="share">
            <a href="#" class="fab fa-facebook-f"></a>
            <a href="#" class="fab fa-twitter"></a>
            <a href="#" class="fab fa-instagram"></a>
            <a href="#" class="fab fa-linkedin"></a>
        </div>

        <div class="credit"> created by <span>Harkirat Singh</span></div>

    </section>

    <!-- footer section ends -->


    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
    <script src="./FIRST PAGE/script.js"></script>

</body>

</html>